.App{
  text-align: center;
  position: absolute;
  left: 280px;
  
  width: 200px;
  height: 200px;
  background: linear-gradient(110deg, #e8dc00 60%, #ceb706 60%);
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(0, 0, 0);
  font-size: large;
  
  border-radius: 10px;
}

div{
  margin-top: 10px;
}

button{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  border-radius: 5px;
  border-width: 1px;
  margin: 3px;

  
 
}